@model IEnumerable<CO453_WebApps.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="~/css/Product%20Sans.css" />
<link rel="stylesheet" href="~/css/styles.css" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscriminatorValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            MessagePost message = null;
            PhotoPost photo = null;
            if (item is MessagePost)
            {
                message = (MessagePost)item;
            }
            if (item is PhotoPost)
            {
                photo = (PhotoPost)item;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (message != null)
                    {
                        <span>@message.Message</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="message-dashboard">
    <div class="row d-flex justify-content-around">
        @foreach (var item in Model)
        {
            <div class="message-box">
                <div class="box-header-wrapper">
                    <img class="box-img-user" src="assets/img/2fe8053c01e6dbc40451832248df5e4f.jpg">
                    <p class="box-text-username">@Html.DisplayFor(modelItem => item.Username)</p>
                    <div class="d-flex justify-content-around box-wrapper-icons">
                        <a asp-action="Edit" asp-route-id="@item.PostID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-edit box-icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"></path>
                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"></path>
                                <line x1="16" y1="5" x2="19" y2="8"></line>
                            </svg>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.PostID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-zoom-in box-icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="7" y1="10" x2="13" y2="10"></line>
                                <line x1="10" y1="7" x2="10" y2="13"></line>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.PostID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash box-icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="4" y1="7" x2="20" y2="7"></line>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="@Html.DisplayFor(modelItem => item.DiscriminatorValue)-img"><img class="box-img-thumbnail" src="~/img/2fe8053c01e6dbc40451832248df5e4f.jpg"></div>
                <div class="@Html.DisplayFor(modelItem => item.DiscriminatorValue)-txt"></div>
                <div class="box-text-wrapper d-flex h-100" style="height: 100%;">
                    <p class="text-center box-text-description align-self-center" style="width: 100%;font-size: 165%;margin-bottom: 0px;padding: 3px;padding-bottom: 0px;">)</p>
                </div>
                <div class="@Html.DisplayFor(modelItem => item.DiscriminatorValue)-txt2"></div>
            </div>
        }
    </div>
</div>