@model ConsoleAppProject.App03.StudentMarks
@{
    ViewData["Title"] = "Analyse";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Grade', 'Frequency'],
            ['A', @Model.GradeA],
            ['B', @Model.GradeB],
            ['C', @Model.GradeC],
            ['D', @Model.GradeD],
            ['F', @Model.GradeF]
        ]);

        var options = {
            title: 'My Daily Activities',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<h1>Analyse</h1>
<h1>A - @Model.GradeA%</h1>
<h1>B - @Model.GradeB%</h1>
<h1>C - @Model.GradeC%</h1>
<h1>D - @Model.GradeD%</h1>
<h1>F - @Model.GradeF%</h1>
<h1>Mean - @Model.Mean</h1>
<h1>Min - @Model.Min</h1>
<h1>Max - @Model.Max</h1>
<div id="piechart" style="width: 900px; height: 500px;"></div>

